.card{
  margin:20px 0 40px 0;
}
.card:last-of-type{margin-bottom: 20px;}

.success-msg{
  width: 100%;
}
.hide{
  display:none;
}

.success{
  
  background-color: rgba(0,0,0,.5);
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  width: 100%;
}
.success button{
   width: 80px;
}
.success button img{
  height: auto;
  width: 100%;
}


.checkRadio {
display: block;
position: relative;
padding-left: 0;
margin-bottom: 12px;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.checkBox{
padding-left: 30px;
}
input[type=radio], input[type=checkbox] {
position: absolute !important;
/* opacity: 0; */
cursor: pointer;
/* height: 0; */
/* width: 0; */
}
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
display: flex;
justify-content: center;
align-items: center;
}
input[type=radio] ~ .checkmark{
border-radius: 50%;
}
input[type=checkbox] ~ .checkmark:after{
left: 9px;
top: 4px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.checkmark:hover {
background-color: #ccc;
cursor: pointer;
}
input:checked ~ .checkmark {
background-color: #2196F3;
}
.checkmark:after {
content: "";
position: absolute;
display: none;
}
input:checked ~ .checkmark:after {
display: block;
}
.checkmark:after {
  top: 32%;
  left: 32%;
  width: 35%;
  height: 35%;
  background: white;
  border-radius: 50%;
}
.form-check-label{
  margin-left: 30px;
}
.switch ~ .form-check-label{
  margin-left: 5px;
  font-weight: 600;
}
.checkRadio.check2{
  top: 5px;
  left: 14px;
}
.form-control.is-invalid{
  border-width: 3px;
  box-shadow: inset 1px 1px 3px 3px rgba(0,0,0,0.2), 1px 1px 3px 3px rgba(0,0,0,0.3);
  color: #f00;
}
#ui-id-1-button{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: #fff;
  color: #6c757d;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}
.form-control{
  font-size: 1.1rem;
}
.card:last{
  margin-bottom: 20px;
}
.ui-widget-header .ui-icon{
background-image: url(../images/ui-icons_444444_256x240.png);
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
margin-bottom: 0;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

@media all and (min-width: 768px){
::placeholder{
  font-size: 1rem;
}
}

@media all and (max-width: 600px){
  .tnc .form-check{
      flex-direction: column;
      align-items: flex-start;
  }
  .mb-small{
      margin-bottom: 0.5rem !important;
  }
  ::placeholder{
      font-size: 0.88rem;
  }
}

input.btn.btn-lg.btn-primary.btn-block {
  width: 100%;
}

input[type=radio] ~ .checkmark {
  border-radius: 50%;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}


.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  /* background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center / 8px 10px; */
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control {
  font-size: 1.1rem;
  margin: 10px 0;
}

a
{
  text-decoration: none;
}
/* input[type=submit].btn-block {
  width: 100% !important;
} */

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

button.btn.btn-primary {
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

